/* (0) Quita los espacios molestos que vienen por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", cursive;
}

/* COLORES DE LAS LETRAS TETRIS */
.rojo {
  color: #ef4444;
}
.naranja {
  color: #f97316;
}
.amarillo {
  color: #facc15;
}
.verde {
  color: #22c55e;
}
.cian {
  color: #06b6d4;
}
.azul {
  color: #3b82f6;
}
.purpura {
  color: #a855f7;
}

/* LA CUADRÍCULA: Cómo se ordenan las secciones */
.contenedor-principal {
  display: grid;
  grid-template-columns: 1fr; /* Una sola columna para que todo vaya hacia abajo */
}

/* LA PORTADA NEGRA */
.portada {
  background-color: #000;
  height: 400px;
  display: flex;
  flex-direction: column; /* Pone el título arriba y el párrafo abajo */
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* TÍTULO TETRIS EN HORIZONTAL */
.titulo-tetris {
  display: flex;
  flex-direction: row; /* Fuerza a que las letras de colores estén una al lado de otra */
  gap: 10px;
  font-size: 60px;
  margin-bottom: 15px;
}

/* ESTILO GENERAL DE LAS SECCIONES */
.espacio-trabajo {
  padding: 60px 10%;
  text-align: center;
}

/* LA BARRA DE ARRIBA (ENCABEZADO) */
.encabezado {
  background: #000;
  display: flex;
  justify-content: space-between; /* Logo a la izquierda, botones a la derecha */
  padding: 20px;
  align-items: center;
}

.logo {
  height: 90px;
}
/* BOTONES DEL MENÚ */
.botones-navegacion {
  display: flex;
  list-style: none; /* Quita los puntitos de la lista */
  gap: 15px;
}

.botones-navegacion a {
  color: rgb(255, 255, 255);
  text-decoration: none; /* Quita el subrayado de los links */
  font-size: 15px;
  font-weight: bold;
}

.botones-navegacion a:hover {
  color: #facc15;
}

.pie {
  background: #222;
  color: white;
  padding: 30px;
  text-align: center;
}

/*BOTON PARA SUBIR AL INICIO DE LA PAGINA*/
.boton-subir {
  position: fixed;
  bottom: 20px; /* Distancia desde abajo */
  right: 20px; /* Distancia desde la derecha */
  width: 50px;
  height: 50px;
  background-color: #a855f7; /* morado neón */
  color: white;
  text-decoration: none;
  border-radius: 50%; /* Lo hace circular */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  box-shadow: 0px 0px 15px rgba(168, 85, 247, 0.5);
  transition: 0.3s;
  z-index: 9999; /* Para que siempre esté por encima de todo */
}

.boton-subir:hover {
  transform: scale(1.1);
  background-color: #00f3ff; /* Cambia a cyan al pasar el mouse */
  box-shadow: 0px 0px 20px rgba(0, 243, 255, 0.6);
}

/* para que el salto no sea brusco */
html {
  scroll-behavior: smooth;
}
